build-aux
gnulib
Makefile
Makefile.in
*.o
*.Po
*.lo
*.Plo
*.Tpo
*.la
*~
*.orig
m4
autom4te.cache
config.*
COPYING
ABOUT-NLS
stamp-h1
src/virsh
*/.libs
*.cov
*.gcda
*.gcno
aclocal.m4
libtool
libvirt.pc
libvirt.spec
ltmain.sh
mkinstalldirs
configure
INSTALL
compile
depcomp
install-sh
missing
examples/event-test
libvirt-glib.spec
libvirt-glib.pc
mingw32-libvirt-glib.spec
python/*pyc
libvirt-glib/LibvirtGLib-1.0.gir
libvirt-glib/LibvirtGLib-1.0.typelib
