AUTHORS
ChangeLog
build-aux/compile
build-aux/config.guess
build-aux/config.sub
build-aux/depcomp
build-aux/install-sh
build-aux/ltmain.sh
build-aux/missing
build-aux/test-driver
gnulib
Makefile
Makefile.in
*.o
*.Po
*.lo
*.Plo
*.Tpo
*.la
*~
*.orig
m4/ltsugar.m4
m4/lt~obsolete.m4
m4/libtool.m4
m4/ltversion.m4
m4/ltoptions.m4
autom4te.cache
config.*
COPYING
ABOUT-NLS
stamp-h1
src/virsh
*/.libs
*/*/.libs
*.cov
*.gcda
*.gcno
aclocal.m4
libtool
ltmain.sh
mkinstalldirs
configure
INSTALL
compile
depcomp
install-sh
missing
examples/event-test
examples/conn-test
libvirt-glib.spec
libvirt-glib-1.0.pc
libvirt-gobject-1.0.pc
mingw-libvirt-glib.spec
python/*pyc
*/*.gir
*/*.typelib
build/
libvirt-gconfig/libvirt-gconfig-enum-types.h
libvirt-gconfig/libvirt-gconfig-enum-types.c
libvirt-gobject/libvirt-gobject-enums.h
libvirt-gobject/libvirt-gobject-enums.c
docs/libvirt-glib/version.xml
docs/*/xml/
docs/*/html/
docs/*/*.stamp
docs/*/*-decl-list.txt
docs/*/*-decl.txt
docs/*/*-overrides.txt
docs/*/*-sections.txt
docs/*/*-undeclared.txt
docs/*/*-undocumented.txt
docs/*/*-unused.txt
docs/*/*.args
docs/*/*.hierarchy
docs/*/*.interfaces
docs/*/*.prerequisites
docs/*/*.signals
docs/*/*.types
*.tar.gz
*.pc
libvirt-gconfig/tests/test-capabilities-parse
libvirt-gconfig/tests/test-domain-create
libvirt-gconfig/tests/test-domain-parse
.tx/
po/*.gmo
po/*po
!po/*.mini.po
po/*pot
tests/test-events
tests/test-gconfig
tests/*.log
tests/*.trs
vapi/*.vapi
