build-aux/compile
build-aux/config.guess
build-aux/config.sub
build-aux/depcomp
build-aux/install-sh
build-aux/ltmain.sh
build-aux/missing
gnulib
Makefile
Makefile.in
*.o
*.Po
*.lo
*.Plo
*.Tpo
*.la
*~
*.orig
m4
autom4te.cache
config.*
COPYING
ABOUT-NLS
stamp-h1
src/virsh
*/.libs
*/*/.libs
*.cov
*.gcda
*.gcno
aclocal.m4
libtool
ltmain.sh
mkinstalldirs
configure
INSTALL
compile
depcomp
install-sh
missing
examples/event-test
examples/conn-test
libvirt-glib.spec
libvirt-glib-1.0.pc
libvirt-gobject-1.0.pc
mingw32-libvirt-glib.spec
python/*pyc
*/*.gir
*/*.typelib
build/
libvirt-gconfig/libvirt-gconfig-enum-types.h
libvirt-gconfig/libvirt-gconfig-enum-types.c
libvirt-gobject/libvirt-gobject-enums.h
libvirt-gobject/libvirt-gobject-enums.c
docs/*/xml/
docs/*/html/
docs/*/*.stamp
docs/*/*-decl-list.txt
docs/*/*-decl.txt
docs/*/*-overrides.txt
docs/*/*-sections.txt
docs/*/*-undeclared.txt
docs/*/*-undocumented.txt
docs/*/*-unused.txt
docs/*/*.args
docs/*/*.hierarchy
docs/*/*.interfaces
docs/*/*.prerequisites
docs/*/*.signals
docs/*/*.types
*.tar.gz
*.pc
libvirt-gconfig/tests/test-domain-create
libvirt-gconfig/tests/test-domain-parse
